Untitled.ipynb
과제3 실시간 주문 대응 Routing 최적화 (od_matrix) 수정완료.csv
과제3 실시간 주문 대응 Routing 최적화 (orders_table) 수정완료.csv
과제3 실시간 주문 대응 Routing 최적화 (Terminals).csv
과제3 실시간 주문 대응 Routing 최적화 (veh_table).csv
과제3 실시간 주문 대응 Routing 최적화 (제공 데이터 설명) 수정완료.docx
~$3 실시간 주문 대응 Routing 최적화 (제공 데이터 설명) 수정완료.docx
2023 미래기술챌린지 과제가이드 (과제3 실시간 주문 대응 Routing 최적화).pdf
__pycache__/
test/